/*  your css code here. If applicable */
h1 {
	text-align:center;
}
h2 {
	text-align:center;
}
.video {
	background-color:rgb(255,255,255)
	padding:50px;
	border-radius:20px;
}
body {
	background-color: rgb(204, 204, 204)
}